@model IEnumerable<UniBookHub.Models.College>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Colleges</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Create New</a>
</p>
<table class="table table-hover text-center align-middle">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="table-primary">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a type="button" class="btn btn-warning flex-grow-1" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a type="button" class="btn btn-primary flex-grow-1" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a type="button" class="btn btn-danger flex-grow-1" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
