@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewBag.Title = "Roles";
    Layout = "_AdminLayout";
}

<h2>Roles</h2>

<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">Role Name</th>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var Role in Model)
    {
        <tr class="table-primary">
            <td style="vertical-align: middle;font-weight: bold;">@Role.Name</td>
            <td style="width: 44%;">
                <div class="d-flex pt-1">
                    <a asp-action="Register" asp-controller="Account" asp-route-Role="@Role.Name" class="btn btn-outline-primary me-1 flex-grow-1"> New @Role.Name</a>
                    <a asp-action="UsersInRole" asp-controller="Role" asp-route-Role="@Role.Name" class="btn btn-primary flex-grow-1"> All @(Role.Name)s</a>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>


<a asp-controller="Role" asp-action="addrole" class="btn btn-success">Add Role</a>