@using Microsoft.AspNetCore.Identity
@model List<ApplicationUser>
@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}


@* <h2>All @TempData.Peek("User").ToString()s</h2> *@

<!-- content-header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@TempData.Peek("User").ToString()</h1>
            </div>
            <div class="col-sm-6">
                <a asp-controller="Account" asp-action="Register" asp-route-Role="@TempData.Peek("User").ToString()" class="btn btn-primary  float-sm-right">Add @TempData.Peek("User").ToString()</a>
            </div>
        </div>
    </div>
</div>
<!-- /.content-header -->
<!-- content -->

<section class="content">
    <div class="container-fluid">
        <div class="card p-3">
            <table class="table table-hover text-center">
                <thead>
                <tr>
                    <th>Name</th>
                    @if (TempData.Peek("User").ToString() != "Admin")
                    {
                        <th>Collage Name</th>
                    }
                    <th>Username</th>
                    <th>Password</th>
                    <th>Operation</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Name</td>
                        @if (TempData.Peek("User").ToString() != "Admin")
                        {
                            <th>@user.College.Name</th>
                        }
                        <td>@user.UserName</td>
                        <td>@user.Password</td>
                        <td>
                            <a asp-action="Delete" asp-route-Id="@user.Id" asp-route-OldRole="@TempData.Peek("User")" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        </div>
    </div>
</section>